@charset "UTF-8";
/** @format */
/* Цвет основного теста #775755; */
/* Вторичный цвет текста #212121 */
/* Цвет акцент #2196F3 */
/* Белый цвет #FFFFFF */
/*Цвет адресса в подвале rgba(255, 255, 255, 0.6); */
/* Вторичный цвет фона #2F303A; */
/* Цвет фона team #F5F4FA */
:root {
  --indent-section: 94px;
  --indent-cards: 30px;
  --primery-text-color: #775755;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --accent-bgc: #2F303A;
  --white-color: #FFFFFF;
  --bgc-team: #F5F4FA;
  --bgc-hover-btn: #188CE8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding-inline-start: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  background-color: var(--white-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.title {
  color: var(--title-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.web-logo {
  color: #000000;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Navigation */
.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-header .conteiner {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding: 32px 0;
}

.site-nav__link {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link.link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -33px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__link.link.current {
  color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus,
.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
  outline: none;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: var(--indent-cards);
}

.auth-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: var(--accent-bgc);
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button__hero {
  margin-top: 30px;
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__hero:hover,
.button__hero:focus {
  background-color: var(--bgc-hover-btn);
}

.feature {
  padding: var(--indent-section) 0;
}

.feature_list {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  width: 270px;
}

.feature__item:not(:last-child) {
  margin-right: var(--indent-cards);
}

.feature__wrap {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: var(--indent-cards);
  background-color: var(--bgc-team);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__wrap:not(:last-child) {
  margin-right: var(--indent-cards);
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
}/*# sourceMappingURL=main.css.map */