


/* Logo */


/* Hero */


/* Section Features */



/* Work box */
.work {
    padding-bottom: var(--indent-section);
}

.work__title {
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
}

.work__list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work__item {
    position: relative;
}

.work__item:not(:last-child) {
    margin-right: var(--indent-cards)
}

.work_text {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    ;
}

/* Team */
.team {
    display: flex;
    flex-wrap: wrap;
    padding: var(--indent-section) 0;
    background-color: var(--bgc-team)
}

.team__title {
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.team__item {
    text-align: center;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
    margin-right: var(--indent-cards);
}

.team__meta {
    padding: var(--indent-cards);

}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-text-color);
}

.team__description {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
}

.team__socials {
    display: flex;
    width: 206px;
    height: 44px;
}


.team__socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.team__socials-item:not(:last-child) {
    margin-right: 10px;
}

.team__socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    color: #AFB1B8;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__socials-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__socials-link:hover,
.team__socials-link:focus {
    background-color: #2196F3;
    outline: none;
}

.team__socials-link:hover .team__socials-icon,
.team__socials-link:focus .team__socials-icon {
    fill: #FFFFFF;
}

/* ------Client-------- */

.client {
    padding: var(--indent-section) 0;
    text-align: center;
}

.client__title {
    font-size: 36px;
    line-height: 1.16;
}

.client__list {
    display: flex;
    margin-top: 50px;
}

.client__item {
    width: 170px;
    height: 92px;

}

.client__item:not(:last-child) {
    margin-right: var(--indent-cards);
}


.client__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
    border-color: #2196F3;
    outline: none;
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
    fill: #2196F3;
}

/* Filter portfolio */

.section-portfolio {
    padding: var(--indent-section) 0;
}

.filter__list {
    display: flex;
    justify-content: center;
}

.filter__list .filter__list-item:not(:last-child) {
    margin-right: 8px;
}

.filter__button {
    padding: 6px 22px;
    color: var(--title-text-color);
    background-color: var(--bgc-team);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 4px;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none;
}

/* Project portfolio */
.project {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    margin-right: calc(-1 * var(--indent-cards));
    margin-bottom: calc(-1 * var(--indent-cards));
}

.project__item {
    flex-basis: calc(100% / 3 - var(--indent-cards));
    margin-right: var(--indent-cards);
    margin-bottom: var(--indent-cards);
}

.project__link:hover .project-wrap__text,
    .project__link:focus .project-wrap__text {
    transform: translateY(0%);
}

.project-wrap {
    position: relative;
    overflow: hidden;
}

.project-wrap__text {
    position: absolute;
    top: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.card-text__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-family: Roboto, sans-serif;
}

.card-text__text {
    margin-top: 4px;
    color: var(--primery-text-color);
    font-size: 16px;
    line-height: 1.88;
}

.project__link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover,
.project__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
}

/* Footer */
.footer {
    padding: 60px 0;
    background-color: var(--accent-bgc);
}

.conteiner.footer {
    padding: 0;
    display: flex;
    align-items: baseline;

}

.web-logo--light {
    color: var(--white-color);
}

.footer__text {
    display: inline-block;
    margin-top: 20px;
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.footer__contact {
    display: block;
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal
}

.fotter-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    width: 206px;
    height: 80px;
}

.fotter-wrapper__text {
    font-weight: 700;
    width: 144px;
    height: 16px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color)
}

.footer-social {
    display: flex;
    width: 206px;
    height: 44px;
}

.footer-social__item {
    width: 44px;
    height: 44px;
}

.footer-social__item:not(:last-child) {
    margin-right: 10px;
}

.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.footer-social__link:hover,
.footer-social__link:focus {
    background-color: #2196F3;
    outline: none;
}

.footer-field {
    min-width: 570px;
    height: 86px;
    margin-left: auto;
}

.footer-field__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-field__wrap {
    display: flex;
}

.footer-field__input {
    min-width: 358px;
    padding-left: 16px;
    min-height: 50px;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
}

.footer-field__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.footer-field__btn-wrap {
    margin-left: 12px;
    position: relative;
}


.footer-field__button {
    min-width: 200px;
    min-height: 50px;
    text-align: start;
    padding-left: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-field__button:hover,
.footer-field__button:focus {
    background-color: #188CE8;
}

.footer-field__icon {
    position: absolute;
    left: 148px;
    top: 50%;
    transform: translateY(-50%);
    fill: #FFFFFF;
}

/* ---------------------M O D A L----------------------- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal__close-icon {
    min-width: 20px;
    height: 18px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon:hover,
.modal__close-icon:focus {
    fill: #2196F3;
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
    color: var(--title-text-color);
}

.input-wrap:focus-within>.modal-icon {
    fill: #2196F3;
}

.modal-field:nth-child(-n + 4) {
    margin-bottom: 10px;
}


.modal-field__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.modal-field__wrap {
    position: relative;
}

.modal-field__input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__input:focus,
.modal-field__text:focus {
    border-color: rgba(33, 150, 243, 1);
}

.modal-field__input:focus+.modal-field__icon:focus {
    fill: #2196F3;
}


.modal-field__text {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__text::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-field__check-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
}

.modal-field__check-link {
    margin-left: 3px;
    text-decoration-line: underline;
    color: #2196F3;
}

.modal-field__check-text>span {
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__check-icon {
    fill: transparent;
    cursor: pointer;
}

.modal-field__check:checked+.modal-field__check-text span {
    background-color: rgba(33, 150, 243, 1);
    border: none;
}

.modal-field__check:checked+.modal-field__check-text .modal-field__check-icon {
    fill: #FFFFFF;
}

.modal-field__button {
    min-width: 200px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field__button:hover,
.modal-field__button:focus {
    background-color: #188CE8;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}